/* Error: Undefined variable.
 *    ,
 * 16 |         color: $secondColor;
 *    |                ^^^^^^^^^^^^
 *    '
 *   styles\scss\4_components\_sg_popup.scss 16:16  @use
 *   styles\scss\5_pages\_accueil.scss 6:1          @use
 *   styles\scss\main.scss 15:1                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 16 \2502          color: $secondColor;\d\a    \2502                 ^^^^^^^^^^^^\a    \2575 \a   styles\\scss\\4_components\\_sg_popup.scss 16:16  @use\a   styles\\scss\\5_pages\\_accueil.scss 6:1          @use\a   styles\\scss\\main.scss 15:1                     root stylesheet";
}
