$mainColor: #FFFF;
$secondColor:#b6721a;
$thirdColor:#7a3609;


$mediaMaxWidth: 1260px;
$mediaTabletWidth: 768px;
$mediaPhoneWidth: 480px;
$mediaLowerWidth: 320px;


$content-min-width: 320px;
$content-max-width: 1400px;