@use '../0_abstracts' as *;

#site-content {
    text-decoration: none !important;
    color: black !important;
}

body,
header,
footer {
    background-color: $mainColor !important;
    // font-family: 'Bentham', serif !important;
    // font-family: 'Crimson Pro', serif;
    font-family: 'Prompt', sans-serif;
    background-color: white !important;

    min-width: $mediaLowerWidth;
    max-width: $mediaMaxWidth;
    margin: auto;
}

a {
    color: inherit !important;
}

#site-header,
.header,
.header__action-search,
.header__action-search-btn,
.header__action-menu,
.header__action-menu-btn,
.footer-nav-widgets-wrapper,
#site-footer,
.menu-modal,
.menu-modal-inner,
.search-modal-inner,
.archive-header,
.singular .entry-header,
.header,
.singular .featured-media::before,
.wp-block-pullquote::before {
    background-color: white !important;
}

.featured-media-inner .section-inner {
    left: 0 !important;
}

.singular .featured-media-inner {
    left: 0 !important;
}

.featured-media {
    margin: auto;
}

//To have 4 columns on the predefined articles blocks
.wp-block-latest-posts.columns-4 li {
    width: 20% !important;
}

//To center the columns on predefines articles blocks
.wp-block-latest-posts__list {
    justify-content: center !important;
}